<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.howtoplay.attendance.mapper.LeaveInfoMapper">

    <select id="listByStudentId" resultType="cn.howtoplay.attendance.domain.vo.LeaveInfoVo">
        SELECT
        id,
        start_time,
        end_time,
        leave_reason AS reason ,
        created_at,
        status,
        guardian,
        guardianMobile,
        img_url
        FROM scau_leave_info info
        WHERE student_id = #{studentId}
    </select>
</mapper>