<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.howtoplay.attendance.mapper.StudentCourseMapper">


    <select id="findLogs" resultType="cn.howtoplay.attendance.domain.vo.StudentAttendancelogsVo">
        SELECT
        FROM scau_student_course sc
    </select>
    <select id="findScoresByStudentId" resultType="cn.howtoplay.attendance.domain.vo.CourseScoreVo">
        SELECT
        sc.id,
        sc.score,
        sc.course_id,
        c.name AS course_name,
        c.course_code
        FROM scau_student_course sc JOIN scau_course c
        ON sc.course_id = c.id
        WHERE sc.student_id = #{studentId}
    </select>
    <select id="findIdByCourcseId" resultType="java.lang.String">
        SELECT id FROM scau_student_course WHERE course_id = #{courseId}
    </select>
    <select id="findIdByStudentIdAndCourseId" resultType="java.lang.String">
        SELECT id FROM scau_student_course WHERE course_id = #{courseId} AND student_id = #{studentId}
    </select>
</mapper>